* {
  border: 1px solid black;
  margin: 1rem;
}

p {
 font-size: 2rem;
}

h1 {
  font-size: 4rem;
  font-family: system-ui;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
}


#mainImage {
  background-color:  #aeb6bf;
  background-image: url("https://dog.ceo/img/dog-ceo-zine.jpg");
  background-size: contain;
  padding-top: 70%;
}

#mainInPhotoParent {
  display: flex;
  justify-content: flex-end;
}


#flavourInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:  #c39bd3;
  padding: 6rem 6rem;
}


#flavourInfoText {
  width: 100%
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


#inPhotoInfo {
  width: 10rem;
  display: flex;
  flex-flow: column;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#flavourInfoDogImage{
  width: 35rem;
  height: 35rem;
  /*border-radius: 50%;*/
  object-fit: contain;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
