html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-size: 62.5%;
  font-family: "Poppins";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
  border: 1px solid black;
  margin: 1rem;
  padding: .5rem;
  max-width: 100%;
}

body {
  background-color: #e5e7e9;
}

p {
 font-size: 4rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem 10%;
}



#leadingFlavourInfo {
  margin: 2rem;
  padding: 1rem;
}

.header-logo {
  height: 40vmin;
  pointer-events: none;
}

#inPhotoInfo {
  display: flex;
  flex-flow: column;
  color:  #fbfcfc ;
}

#subPhotoInfo {
  margin: 2rem 8%;
}

#subPhotoInfo p {
  margin: 2rem 0;
}

.header-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#flavourInfoDogImage{
  width: 35rem;
  height: 35rem;
  /*border-radius: 50%;*/
  object-fit: contain;
}

#flavourInfo {
  display: flex;
  justify-content: space-between;
  background-color:  #c39bd3;
  margin: 2rem;
  padding: 1rem;
}

#flavourInfo p, img {
  padding: 1rem 2rem;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
